<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>Lilly Real World Evidence</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/LillyLogo_RGB_Red_png.png</loginLogo>
        <primaryColor>#D72E2F</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#E7E7E7</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#B4B4B4</secondaryColor>
        <tertiaryColor>#E7E7E7</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>PANG_Email_Templates/PANG_CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>crawford_laura@lilly.com</emailSenderAddress>
    <emailSenderName>Lilly RWE Partnership Team</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>PANG_Email_Templates/PANG_CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <permissionSet>PANG_RWE_Partnership_Manager</permissionSet>
        <permissionSet>PANG_RWE_Partner_Community_User</permissionSet>
    </networkMemberGroups>
    <picassoSite>RWE_Partners1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>RWE_Partners</site>
    <status>Live</status>
    <tabs>
        <defaultTab>Workspace</defaultTab>
        <standardTab>Workspace</standardTab>
    </tabs>
    <urlPathPrefix>rwepartners</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
