mercury-tov.sublime-project
mercury-tov.sublime-settings
mercury-tov.sublime-workspace
config/*
mercury.sublime-project
mercury.sublime-settings
mercury.sublime-workspace
build/.DS_Store
src/.DS_Store
.DS_Store